<div class="home_wrap">
  <div class="difficulty">
    <p>Choose a difficulty:</p>
    <%= form_for(:continue, url: question_show_path, html: {id: 'form_rank'}) do |f| %>
      <div>
        <ul class="difficulty_radio">
          <li><%= f.radio_button :level, 0, {required: 'required'} %>silver</li>
          <li><%= f.radio_button :level, 1, {required: 'required'} %>gold</li>
        </ul>
      </div>
      <div>
        <%= submit_tag "Start", id: "btn_start", class: "btn"%>
      </div>
    <% end %>
  </div>
</div>
