<script type="text/javascript">
  $(document).ready(function() {
    $("#question_update_categorie").change(function(){
      var question_id = $(this).val();
      $.ajax({
        url: "/admin/ajax",
        method: "GET",
        dataType: "json",
        data: {question_id: question_id},
        error: function (xhr, status, error) {
          console.error('AJAX Error: ' + status + error);
        },
        success: function (response) {
          console.log(response);
          var good_answers = response["good"];
          var wrong_answers = response["wrong"]
          $(".good_answer_part").empty();
          $(".wrong_answer_part").empty();
          for(var i=0; i< good_answers.length; i++){
             $(".good_answer_part").append('<input type="text" name="good_answer_text" value="'+good_answers[i]["text"]+'">');
             $(".good_answer_part").append('<input type="text" name="good_answer_reason" value="'+good_answers[i]["reason"]+'">');
           }
           for(var i=0; i< wrong_answers.length; i++){
             $(".wrong_answer_part").append('<input type="text" name="wrong_answer_text" value="'+wrong_answers[i]["text"]+'">');
             $(".wrong_answer_part").append('<input type="text" name="wrong_answer_reason" value="'+wrong_answers[i]["reason"]+'">');
            }
        }
      });//-end ajax
    });
  });
</script>

<div class="question_manage_wrap">
  <div class="question_manage">
    <%= form_for(:question_update, url: admin_question_path, html: {id: 'form_update_question'}) do |f| %>
    <div class="change_panel">
      <div class="question_part">          
          <%= f.label "Choose a question:" %>
          <%= f.select :categorie, options_for_select(@questions.collect {|p| [ p.text, p.id]}), include_blank: "~~~~ Choose one question ~~~~"  %>
      </div>
      <div class="question_detail_part">
        <div class="good_answer_part">
        </div>
        <div class="wrong_answer_part">
          
        </div>
      </div>
    </div>
    <div class="submit_panel">
      
    </div>
    <% end %>
  </div>
  <div class="answer_manage">
    <div class="answer_part">
      
    </div>
    <div class="associated_question">
      
    </div>
  </div>  
</div>
