<div class="question_manage_wrap">
  <div class="question_manage">
    <%= form_for(:question_update, url: admin_question_path, html: {id: 'form_update_question'}) do |f| %>
    <div class="change_panel">
      <div class="question_part">
          <%= f.label "Choose a question:" %>
          <%= f.select :question, options_for_select(@questions.collect {|p| [ p.text, p.id]}), include_blank: "~~~~ Choose one question ~~~~"  %>
      </div>
      <div class="question_detail_part">
        <div class="good_answer_part">
        </div>
        <div class="wrong_answer_part">
          
        </div>
        <div class="rank_part">
          
        </div>
        <div class="snippet_part">
          
        </div>
      </div>
    </div>
    <div class="submit_panel">
      <%= submit_tag "Update Question", id: "btn_update"%>
    </div>
    <% end %>
  </div>
  <div class="answer_manage">
    <div class="answer_part">
      
    </div>
    <div class="associated_question">
      
    </div>
  </div>  
</div>
