<script type="text/javascript">
  $(document).ready(function() {
    $("#question_update_question").change(function(){
      var question_id = $(this).val();
      $.ajax({
        url: "/admin/ajax",
        method: "GET",
        dataType: "json",
        data: {question_id: question_id},
        error: function (xhr, status, error) {
          console.error('AJAX Error: ' + status + error);
        },
        success: function (response) {
          console.log(response);
          var good_answers = response["good"];
          var wrong_answers = response["wrong"];
          var snippet = response["snippet"];
          if ( snippet == null){
            snippet = "";
          }
          $(".good_answer_part").empty();
          $(".wrong_answer_part").empty();
          $(".rank_part").empty();
          $(".snippet_part").empty();
          for(var i=0; i< good_answers.length; i++){
             $(".good_answer_part").append('<div class="answer_container good_container ga_'+i+'"></div>');
             $('.ga_'+i+'').append('<div class="left_part ">Good answer '+(i+1)+':</div>');
             $('.ga_'+i+'').append('<div class="right_part rp_ga_'+i+'"></div>');
             $('.rp_ga_'+i+'').append('<input type="text" name="good_answer_text[]" value="' + good_answers[i]["text"] + '">');
             $('.rp_ga_'+i+'').append('<input type="text" name="good_answer_reason[]" value="' + good_answers[i]["reason"] + '">');
             $('.answer_container').append('<span class="add_field_update">+</span>')
             $('.answer_container').append('<span class="del_field_update hidden_field">-</span>')
           }
           for(var i=0; i< wrong_answers.length; i++){
             $(".wrong_answer_part").append('<div class="answer_container wa_'+i+'"></div>') ;
              $('.wa_'+i+'').append('<div class="left_part ">Wrong answer '+(i+1)+':</div>');
             $('.wa_'+i+'').append('<div class="right_part rp_wa_'+i+'"></div>');
             $('.rp_wa_'+i+'').append('<input type="text" name="wrong_answer_text[]" value="' + wrong_answers[i]["text"] + '">');
             $('.rp_wa_'+i+'').append('<input type="text" name="wrong_answer_reason[]" value="' + wrong_answers[i]["reason"] + '">');
           }
           if(response["rank"] == 1 ){
             $(".rank_part").append('<select name="question_update[level]" id="question_update_level"><option value="0">silver</option><option value="1" selected="selected">gold</option></select>');
           }else{
             $(".rank_part").append('<select name="question_update[level]" id="question_update_level"><option value="0" selected="selected">silver</option><option value="1">gold</option></select>');
           }
           $(".snippet_part").append('<div class="left_part ">Snippet: </div>');
           $(".snippet_part").append('<div class="right_part rp_snippet"></div>');
           $(".rp_snippet").append('<textarea class="question_field" name="snippet" id="add_question_text">'+ snippet +'</textarea>');
           $(".add_field_update").click(function(){
             addFieldUpdate();
           });
           $(".del_field_update").click(function(){
             delFieldUpdate();
           });
        }
      });//-end ajax
    });    
    function addFieldUpdate(){
      var numberOfField = $(".good_container").length;
      if (numberOfField < 3){
        $(".good_container").last().after('<div class="answer_container good_container ga_'+ (numberOfField) +'"></div>');
        $('.ga_'+ numberOfField +'').append('<div class="left_part ">Good answer '+ (numberOfField + 1) +':</div>');
        $('.ga_'+ numberOfField +'').append('<div class="right_part rp_ga_'+ (numberOfField) +'"></div>');
        $('.rp_ga_'+ numberOfField +'').append('<input type="text" name="good_answer_text[]">');
        $('.rp_ga_'+ numberOfField +'').append('<input type="text" name="good_answer_reason[]">');        
      }
      $(".del_field_update").removeClass("hidden_field");
    }
    function delFieldUpdate() {
      var numberOfField = $(".good_container").length;
      if (numberOfField > 1){
        $(".ga_"+ (numberOfField-1) +"").remove();
        numberOfField = $(".good_field").length;
      }
      if (numberOfField == 1){
        $(".del_field_update").addClass("hidden_field");
      }
      if (numberOfField < 3){
        $(".del_field_update").removeClass("hidden_field");
      }
    }
  });
</script>

<div class="question_manage_wrap">
  <div class="question_manage">
    <%= form_for(:question_update, url: admin_question_path, html: {id: 'form_update_question'}) do |f| %>
    <div class="change_panel">
      <div class="question_part">
          <%= f.label "Choose a question:" %>
          <%= f.select :question, options_for_select(@questions.collect {|p| [ p.text, p.id]}), include_blank: "~~~~ Choose one question ~~~~"  %>
      </div>
      <div class="question_detail_part">
        <div class="good_answer_part">
        </div>
        <div class="wrong_answer_part">
          
        </div>
        <div class="rank_part">
          
        </div>
        <div class="snippet_part">
          
        </div>
      </div>
    </div>
    <div class="submit_panel">
      <%= submit_tag "Update Question", id: "btn_update"%>
    </div>
    <% end %>
  </div>
  <div class="answer_manage">
    <div class="answer_part">
      
    </div>
    <div class="associated_question">
      
    </div>
  </div>  
</div>
