<div class="result_wrap">
    <div class="result">
      <%= @is_good_answer ? "Good answer" : "Wrong answer" %>
    </div>
    <div class="all_good">      
      <% @good_answers.each do |a| %>
        <div class="good_detail">
          <%= a.reason %>
        </div>
      <% end %>
    </div>
    <div class="all_bad">      
      <% @bad_answers.each do |a| %>
        <div class="bad_detail">
          <%= a.reason %>
        </div>
      <% end %>
    </div>
    <div class="next_question">
      <%= button_to "next question", training_path, method: :get, class: "next_btn"%>
    </div>
</div>
