/* application */
#wrapper{
  width: 70%;
  margin: auto;
  justify-content: center;
}

/* general */
.hidden_field{
  visibility: hidden;
}
.btn {
  cursor: pointer;
}

/* PARTIAL: question_label */
.question_wrap, .response_wrap {
  width: 40%;
  margin: auto;
}
.question_wrap {
  display: flex;
  flex-direction: row;
}
.question_data {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 25px;
}
.question_detail {
  display: flex;
  flex-direction: column;
  margin: 25px;
}
.question_cat, .question_rank {
  text-align: center;
  font-style: italic;
}

.del_field, .add_field{
  cursor: pointer;
  margin-left: 15px;
  padding: 1px 3px;
  border: 1px solid #aaaaaa;
}
.response_wrap li{
  list-style-type: none;
}
.question_snippet {
  background-color: rgb(224, 224, 235);
  border: 1px solid #b3b3cc;
  border-radius: 5px;
}

/* Result  */
.result_wrap {
  text-align: justify;
  width: 40%;
  margin: auto;
}
.result {
  margin: 30px 0px;
  text-align: center;
}
.all_good {
  border: 1px solid #4f9f99;
  margin-bottom: 30px;
}
.all_bad {
  border: 1px solid #4f9f99;
  margin-bottom: 30px;
}
.soluce_text {
  
}
.soluce_reason {
  
}
.good_detail {
  
}
.bad_detail{
  
}


/* Create question */
.add_question_wrap {
  width: 80%;
  margin: auto;
}
.input_wrap{
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
.input_label {
  width: 10%;
}
.msg {
  margin: 15px 0px;
}
.good_field, .good_reason, .bad_field, .bad_reason {
  margin-right: 5px;
}
.add_btn{
  margin-bottom: 20px;
}
.question_field {
    width: 500px;
    height: 70px;
}
/* question_manage */
.question_manage {
  display: flex;
  flex-direction: column;
}
.change_panel {
  display: flex;
  flex-direction: row;
}
.question_part {
  margin-right: 30px;
}
.question_detail_part {
  display: flex;
  flex-direction: column;
  
}
.good_answer_part, .wrong_answer_part {
  display: flex;
  flex-direction: column;
}
.good_answer_part {
  
}
.answer_container{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.left_part {
  width: 20%;
}
.right_part {
  display: flex;
  flex-direction: column;
  width: 500px;
}
