<div class="question_wrap">
  <div class="question_data">
    <div class="question_number">
      Question N°<%= "X" %>
    </div>
    <div class="question_cat">
      <%= "Categorie" %>
    </div>    
  </div>
  <div class="question_detail">
    <div class="question_txt">
      <%= "Je suis une superbe question, blablabla, blublublu?" %>
    </div>
    <div class="question_response_number">
      (Choose <%= "X" %> )
    </div>
  </div>  
</div>
