<div class="question_wrap">
  <div class="question_data">
    <div class="question_number">
      Question N°<%= "X" %>
    </div>
    <div class="question_cat">
      <%= question.cat %>
    </div>    
  </div>
  <div class="question_detail">
    <div class="question_txt">
      <%= question.text %>
    </div>
    <div class="question_response_number">
      (Choose <strong><%= response_num %></strong> )
    </div>
  </div>  
</div>
