<div class="response_wrap">
  <% if response_num == 1 %>
  <div class="unique_response">
    <ul>
      <% answers.each do |a| %>
        <li><%= radio_button_tag "response", a.id, false %> <%= a.text %></li>
      <% end %>
    </ul>
  </div>
  <% else %>
  <div class="multiple_response">
    <ul>
      <% answers.each do |a| %>
        <li><%= radio_button_tag "response", a.id, false %> <%= a.text %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
