<!DOCTYPE html>
<html>
  <head>
    <title>RubyCertification</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/css/training.css" type="text/css" media="all" />
  </head>

  <body>
    <div id="wrapper">
      <%= yield %>      
    </div>
  </body>
</html>
